@import 'center-box';

body {
  background: #000;
  padding-top: 15px;
  color: #fff;
  padding: 0;
}

a {
  color: #fff;
}

div.content {
  text-align: center;
  position: absolute;
  width: 100%;
}

hr {
  margin: 40px 40% 0;
}

h2, h3 {
  text-align: center;
  font-weight: normal;
  font-family: 'Arial', sans-serif;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

$largeLogo: '/logo/large.png';
$mediumLogo: '/logo/medium.png';
$smallLogo: '/logo/small.png';

@function logoFile($variant) {
  @return "/logo/" + $variant + ".png";
}

@mixin logo($variant) {
  $image: logoFile($variant);

  width: image-width($image);
  height: image-height($image);
  background: inline-image($image);
}

.logo {
  margin: 10px auto;
  @include logo("large");

  @media screen and (max-height:840px) {
    @include logo("medium");
  }

  @media screen and (max-width: 1024px) {
    @include logo("medium");
  }

  @media screen and (max-width: 640px) {
    margin-top: 20px;
    @include logo("small");
  }

  .sessions & {
    @include logo("sessions-medium");

    @media screen and (max-width: 640px) {
      @include logo("sessions-small");
    }
  }
}

.index {
  div {
    text-align: center;
  }

  button {
    padding: 15px;
    background: #CFDC00;
    border: none;
    color: #333;
    font-size: 16pt;
  }
}

.sessions {
  .container-item {
    padding-bottom: 10px;
  }
}

@mixin vertical-text {
  transform: rotate(90deg);
  transform-origin: 0% 100%;
}

nav {
  $color: lighten(#333, 15%);

  width: 100%;
  height: 50px;
  background: #000;
  margin-bottom: 10px;
  text-align: center;

  ul {
    $width: 3;
    margin: 0;
    display: inline-block;
    padding: 0;

    li {
      float: left;
      list-style: none;
      border: 1px solid $color;
      border-top: none;
      margin: 0 5px 0 5px;
      color: lighten($color, 20%);

      a {
        display: block;
        color: inherit;
        text-decoration: none;
        padding: 10px;
      }

      &.active {
        @media screen and (min-width: 360px) {
          $color: #aaa;
          border-color: $color;
          color: lighten($color, 20%);
        }
      }

      &:hover:not(.active) {
        @media screen and (min-width: 360px) {
          padding-top: 10px;
        }
      }

      @media screen and (max-width: 360px) {
        &.active {
          a {
            text-decoration: underline;
          }
        }

        border: none;
        border-left: 1px solid;
        margin: 0;
        padding-left: 3px;
        padding-right: 3px;

        &:nth-child(1) {
          border-left: none;
        }

        a {
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}