/* line 1, /Users/walski/projects/x-sessions.com/source/stylesheets/center-box.scss */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center; }

/* line 10, /Users/walski/projects/x-sessions.com/source/stylesheets/center-box.scss */
.container-item {
  position: relative; }

/* line 14, /Users/walski/projects/x-sessions.com/source/stylesheets/center-box.scss */
.container-item:nth-child(1) {
  order: 0;
  flex: 0 1 auto;
  align-self: center; }

/*
    Legacy Firefox implementation treats all flex containers
    as inline-block elements.
*/
@-moz-document url-prefix() {
  /* line 26, /Users/walski/projects/x-sessions.com/source/stylesheets/center-box.scss */
  .flex-container {
    width: 100%;
    -moz-box-sizing: border-box; } }
