<div class="container index">
  <div class="container-item">
    <div class="logo" alt="X - Session | The Preface">
    </div>
    <hr>
    <h2>A <a href="https://www.xing.com/net/pri677cf3x/xingdevs" target="_blank">XING API</a> Event on November 22nd 2013</h2>

    <div>
      <button class="punch">Pre-register now</button>
    </div>

    <p>
      Check out the <a href="<%= xing_event_url %>" target="_blank">XING Event page</a> (de) for more details.
    </p>
  </div>
</div>