<div class="container sessions">
  <div class="container-item">
    <div class="logo" alt="X - Session">
    </div>
    <hr>
    <h2>Where our development partners take center stage</h2>
    <p>
      Our business is to make it as easy as possible to connect people and keep them in touch. Doing that we are building what is one of the most valuable social graphs in the world with over 13 million professional profiles world wide.<br/>
      <br/>
      The <a href="https://dev.xing.com/" target="_blank">XING API</a> makes it easy to connect your business to what we have built and create an exciting experience for your new and existing customers.</br>
      <br/>
      With a <a href="https://dev.xing.com/" target="_blank">robust API</a> under the hood we are now ready to take the next step and help to bring a development community to life that makes the <a href="https://dev.xing.com/" target="_blank">XING Web Services platform</a> a unique experience not only for your users but also for all developers using our ecosystem.<br/>
      <br/>
      The X - Sessions is our foundation on which we want to base all community efforts. It starts with our <a href="/"><i>The Preface</i></a> kick-off in November 2013 and will become a home to all sorts of events and activities surrounding the XING API developer community.<br/>
      <br/>
      <br/>
      Impress and contact information can be found at: <a href="https://www.xing.com/imprint" target="_blank">https://www.xing.com/imprint</a><br/>
      <br/>
    </p>
  </div>
</div>